apiVersion: apps/v1
kind: Deployment
metadata:
  name: quiz-backend
  namespace: quiz
spec:
  replicas: 2
  selector:
    matchLabels:
      app: quiz-backend
  template:
    metadata:
      labels:
        app: quiz-backend
    spec:
      containers:
      - name: backend
        image: ajithrock/project1-backend
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: quiz-backend
  namespace: quiz
spec:
  type: NodePort
  selector:
    app: quiz-backend
  ports:
    - port: 5000
      targetPort: 5000
      nodePort: 30500